@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin:wght@800&family=PT+Serif&display=swap');
body{
    height: 100vh;
    background: #fffbf9;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f3f3f3; */
    /* padding: 1rem; */
}

#scrolly>* {
    -webkit-box-flex: 1;
    /* -ms-flex: 1; */
    /* flex: 1; */
}

article {
    position: relative;
    /* padding: 0 1rem; */
    /* max-width: 20rem; */
}

#figure {
    position: -webkit-sticky;
    position: sticky;
    /* width: 100%; */
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: transparent;
    z-index: 0;
    /* border-top: 3px solid black; */
    /* border-bottom: 3px solid black; */
    margin: 1em 0;
}

#figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    overflow-y: hidden;
}

.step {
    /* margin: 0 auto 2rem auto; */
    /* background-color: #3b3b3b; */
    background-color: #c33737;
    padding: 1em;
 
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    border: 1em;
    background:#ff4949;
    color: #3b3b3b;
}

.step p {
    text-align: left;
    padding: 1rem;
    font-size: 1.2em;
}


nav{
    padding: 6em 6em;
    /* background: linear-gradient(180deg, rgba(80,32,100,1) 0%, rgba(120,83,136,0.8421962535014006) 33%, rgba(179,157,187,0.9066220238095238) 63%, rgba(209,196,214,0.7609637605042017) 77%, rgba(222,213,226,0.6237088585434174) 84%, rgba(255,255,255,0.2707676820728291) 100%); */
    height: 40vh;
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    color: #7986cb;
    font-size: 3.5em;
    /* font-family: 'Open Sans', sans-serif; */
}

h2{
    font-family: 'PT Serif', serif;    
    color: #9ccc65;
    font-size: 2.2em;
    text-align: end;
    margin-top: .25em!important;
    margin-bottom: 2.25ex!important;
    padding-right: 2em!important;
}

h3{
    font-family: 'Libre Franklin', sans-serif;
    color: white;
}

iframe{
    border: 0;
    overflow-y: hidden;
}


/* properties for figures */
.time1{
    margin-top: 200px!important;
}
.fig1{
    width: 800px!important;
    height: 50vh!important;
    
}

.overflow_y_only{
    overflow-x: auto;
    overflow-y: hidden;
}

.intro__dek{
    font-size: 1.2em;
    text-align: justify;
}

.moma{
    font-weight: bold;
    font-size: 1.5em;
    color: #7986cb;
}

.rhz{
    font-weight: bold;
    font-size: 1.5em;
    color: #9ccc65;
}

.bubbleMoma{
    text-align: center;
    color: white;
    border-radius: 70%;
    background-color: #c3c9ea;
    font-size: 0.75em;
    position: absolute;
    z-index: 1;
    top: 50px;
    height:310px;
    width:310px;
    padding: 3em;
    right: 203px;

}

.bubbleRhz{
    text-align: center;
    color: white;
    border-radius: 70%;
    background-color: #9ccc65;
    font-size: 0.75em;
    top: 400px;
    position: absolute;
    height:315px;
    width:315px;
    padding: 3em;
    right: 0px;

}
.Resq{
    font-weight: bold;
}


.mySlides{
    text-align: center!important;
}